/* ======================
      common css start
====================== */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
     --white :#FFFFFF;
     --black :#000000;
     --white-e :#EEEEEE;
     --red : rgb(126, 8, 8);
     --inter: "Inter", sans-serif;

}

*{
    padding: 0 px;
    margin: 0%;
    box-sizing: border-box;
    font-family: var(--inter);
}

.nav_container {
      max-width: 1270px;
      margin: 0 auto;
}
.container {
      max-width: 1170px;
      margin: 0 auto;
}
  
a{
      text-decoration: none;
}
ul,ol,li{
      list-style: none;
}

button{
      display: inline-block;
      border: none;
}


/* ======================
      common css End
====================== */




/* ======================
      Nav css start
====================== */
nav{
      background: var(--black);
      padding: 15px 0;
}

.main_manu{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
}
.main_manu .logo {}
.main_manu .logo img {}
.main_manu .manu {}
.main_manu .manu ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
}
.main_manu .manu ul li {}
.main_manu .manu ul li a {
      color: var(--white);
      font-weight: 600;
      padding: 16px;
      transition: all linear 0.2s;
      -webkit-transition: all linear 0.2s;
      -moz-transition: all linear 0.2s;
      -ms-transition: all linear 0.2s;
      -o-transition: all linear 0.2s;
}
.main_manu .manu ul li a:hover {
      color: var(--red)
      
}

.main_manu .button {
      display: flex;
      justify-content: end;
      gap: 10px;
}
.main_manu .button button {
      background: transparent;
      border: none;
      cursor: pointer;
}
.main_manu .button button img{}


/* ======================
      nav css End
====================== */

/* ======================
      Banner css start
====================== */

#banner{

     
}

      

.overlay{
      padding-top: 72px;
      padding-bottom: 246px;
      background: linear-gradient(-270deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 39.51%, rgba(0, 0, 0, 0) 60.42%, rgba(0, 0, 0, 0) 100%);
      height: calc(100vh -134px);

}

.banner_content{
      width: 652px;
      height: 358px;
}
.banner_content h1{
      line-height: 96px;
      color: var(--white);
      font-size: 66px;
      font-weight: 900;

      
}
.banner_content h1 span{
      display: block;
}
.banner_content p{
      line-height: 30px;
      color: var(--white);
      font-size: 20px;
      padding-top: 10px;
      padding-bottom: 40px;

}
.banner_content button{
      margin-top: 40px;
      padding: 20px 50px;
      border-radius: 40px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        -ms-border-radius: 40px;
        -o-border-radius: 40px;
      color: var(--black);
      background-color: var(--white);
      font-size: 18px;
      line-height: 28px;
      text-align: center;
      font-weight: 700;
      box-shadow: 0px 4px 14px rgba(255, 255, 255, 0.15);





}



/* ======================
      banner css End 
====================== */