/* ======================
      common css start
====================== */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
     --white :#FFFFFF;
     --black :#000000;
     --black-19 :#191919;
     --white-e :#EEEEEE;
     --red : rgb(61, 3, 3);
     --inter: "Inter", sans-serif;
     --dark: #0D0D0D;
     
}

*{
    padding: 0 px;
    margin: 0%;
    box-sizing: border-box;
    font-family: var(--inter);
}

.nav_container {
      max-width: 1270px;
      margin: 0 auto;
}
.container {
      max-width: 1170px;
      margin: 0 auto;
}
  
a{
      text-decoration: none;
}
ul,ol,li{
      list-style: none;
}

button{
      display: inline-block;
      border: none;
}

body{
      background: var(--dark);
}

.section_header {
      text-align: center;
      max-width: 820px;
      margin: 0 auto;
      padding-bottom: 16px;
      padding-bottom: 40px;
}
/* ======================
      common css End
====================== */




/* ======================
      Nav css start
====================== */
nav{
      background: var(--black);
      padding: 15px 0;
}

.main_manu{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
}
.main_manu .logo {}
.main_manu .logo img {}
.main_manu .manu {}
.main_manu .manu ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
}
.main_manu .manu ul li {}
.main_manu .manu ul li a {
      color: var(--white);
      font-weight: 600;
      padding: 16px;
      transition: all linear 0.2s;
      -webkit-transition: all linear 0.2s;
      -moz-transition: all linear 0.2s;
      -ms-transition: all linear 0.2s;
      -o-transition: all linear 0.2s;
}
.main_manu .manu ul li a:hover {
      color: var(--red)
      
}

.main_manu .button {
      display: flex;
      justify-content: end;
      gap: 10px;
}
.main_manu .button button {
      background: transparent;
      border: none;
      cursor: pointer;
}
.main_manu .button button img{}


/* ======================
      nav css End
====================== */

/* ======================
      Banner css start
====================== */

#banner{

     
}

      

.overlay{
      padding-top: 72px;
      padding-bottom: 246px;
      background: linear-gradient(-270deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 39.51%, rgba(0, 0, 0, 0) 60.42%, rgba(0, 0, 0, 0) 100%);
      height: calc(100vh -134px);

}

.banner_content{
      width: 652px;
      height: 358px;
}
.banner_content h1{
      line-height: 96px;
      color: var(--white);
      font-size: 66px;
      font-weight: 900;

      
}
.banner_content h1 span{
      display: block;
}
.banner_content p{
      line-height: 30px;
      color: var(--white);
      font-size: 20px;
      padding-top: 10px;
      padding-bottom: 40px;

}
.banner_content button{
      margin-top: 40px;
      padding: 20px 50px;
      border-radius: 40px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        -ms-border-radius: 40px;
        -o-border-radius: 40px;
      color: var(--black);
      background-color: var(--white);
      font-size: 18px;
      line-height: 28px;
      text-align: center;
      font-weight: 700;
      box-shadow: 0px 4px 14px rgba(255, 255, 255, 0.15);
      

}

.banner_content button:hover{
      background-color: var(--red) ;

}

/* ======================
      banner css End 
====================== */

/* ======================
      about css start 
====================== */

#about {
      padding: 150px 0;
}
#about .section_header {
      text-align: center;
      max-width: 820px;
      margin: 0 auto; 
}
.section_header h2 {
      color: var(--white);
      font-size: 50px;
      font-weight: 700;
      line-height: 1.4;
}
.section_header p {
      color: var(--white);
      font-size: 20px;
      font-weight: 400;
      line-height: 1.5;
}

.about_content {
      display: flex;
      align-items: center;
      gap: 87px;
      padding-top: 30px;
}
.about_content .text {
      flex: 1;
}
.about_content .text p {
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      color: var(--white-e);
}
.about_content .text p a {
       font-weight: 700;
       color: var(--white);
}


.about_content .video {
      flex: 1;
      max-width: 450px;
      position: relative;
}
.about_content .video > img {
      width: 100%;
}
.about_content .video button {
      width: 92px;
      height: 92px;
      display: flex;
      text-align: center;
      justify-content: center;
      padding-left: 10px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
}
.about_content .video button img {}

/* ======================
      about css End 
====================== */

/* ======================
delicious_menu css start 
====================== */

#delicious_menu {
      padding: 150px 0;
}
.manus {}
.manus ul {
      display: flex;
      color: var(--white);
      justify-content: space-between;
      gap: 15px;
}
.manus ul li{
      border-bottom: 5px solid transparent;
      border-radius: 0 0 10px 10px;
      -webkit-border-radius: 0 0 10px 10px;
      -moz-border-radius: 0 0 10px 10px;
      -ms-border-radius: 0 0 10px 10px;
      -o-border-radius: 0 0 10px 10px;
      font-size: 18px;
      line-height: 30px;
      padding: 8px 20px;
      cursor: pointer;
      transition: all linear 0.2s;
      -webkit-transition: all linear 0.2s;
      -moz-transition: all linear 0.2s;
      -ms-transition: all linear 0.2s;
      -o-transition: all linear 0.2s;
}
.manus ul li.active {
     border-bottom: 5px solid var(--white); 
}

.manus ul li:hover {
      border-color: var(--red);
}


.food_item_grid {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
}
.food_item_grid .item {
      background: var(--black-19);
      padding: 20px;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      width: calc(33.33% - 20px);
}
.food_item_grid .item .image{
      height: 236px;
      overflow: hidden;
}
.food_item_grid .item .text{
      color: var(--white);
}
.food_item_grid .item .text h3{}
.food_item_grid .item .text p{
      font-size: 16px;
      padding-top: 10px;
      padding-bottom: 10px;
}
.food_item_grid .item .text .price_and_cart {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
}
.food_item_grid .item .text .price_and_cart .price{}
.food_item_grid .item .text .price_and_cart .cart{
     width: 60px;
     height: 60px;
     border: radius 50%; ;
     -webkit-border-radius:50% ;
     -moz-border-radius:50% ;
     -ms-border-radius:50% ;
     -o-border-radius:50% ;
     border: 1px solid var(--white);
     display: flex;
     align-items: center;
     justify-content: center;
}
.food_item_grid .item .text .price_and_cart .cart:hover {
      background: var(--red);
      transition: all linear 0.1s;
      -webkit-transition: all linear 0.1s;
      -moz-transition: all linear 0.1s;
      -ms-transition: all linear 0.1s;
      -o-transition: all linear 0.1s;
}
.see_all {
      display: flex;
      justify-content: center;

}
.see_all a {
      padding: 20px 54px;
      font-weight: 600;
      line-height: 28px;
      margin-top: 80px;
      align-items: center;
      background: var(--white);
      color: var(--black);
      border-radius: 40px;
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      -ms-border-radius: 40px;
      -o-border-radius: 40px;
}
.see_all a:hover {
      background: var(--red);
}


/* ======================
delicious_menu css End 
====================== */


